<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eemf.sirgoingfar.retrofittutorial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.GetApiJsonDataActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- For OAuth -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="futurestudio" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CreateAccountActivity" />
        <activity android:name=".activities.UploadSingleFileSingleDescriptionTextActivity" />
        <activity android:name=".activities.UploadSingleFileMultiplePartTextActivity" />
        <activity android:name=".activities.UploadFixedAndVaryingNumberOfFileActivity" />

        <service android:name=".services.UploadFileService" />

        <activity android:name=".activities.AccessEndPointsOutsideYourBaseUrl" />
        <activity android:name=".activities.DownloadFile" />
        <activity android:name=".activities.ErrorHandlingActivity" />
        <activity android:name=".activities.FormUrlEncodedActivity" />
        <activity android:name=".activities.SendAndReceivePlainTextActivity" />
        <activity android:name=".activities.QueryParameterActivity" />
        <activity android:name=".activities.AuthenticationActivity" />
        <activity android:name=".activities.GitHubOAuthActivity" />
    </application>

</manifest>